body,
html {
  height: 100vh;
  position: relative;
}

.form-login {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors {
  height: auto;
}

.red-div {
  background-color: red;
}

.siema {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-div {
  background-color: yellow;
}

.siema h4 {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin: 0;
}

.siema i {
  padding-right: 10px;
  color: white;
}

.form-login-box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  background-color: rgba(96, 96, 96, 0.2);
  border-radius: 15px;
}

.login-text {
  padding: 0px;
}

input {
  padding: 5px;
  transition: 0.2s;
  text-align: center;
  width: 200px;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  outline: none;
}

input:focus {
  border-bottom: 3px solid rgb(0, 136, 181);
}

.border-box {
  border-radius: 15px;
  padding: 30px;
  border: 1px solid rgb(90, 90, 90);
}