.image-product {
  height: 400px;
  width: 600px;
  padding: 30px;
  /* margin: 20px; */
}
.product-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.col-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent-row {
  width: 90%;
}
BODY {
  overflow: hidden;
}
.col {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0px -1px 18px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px -1px 18px 0px rgba(66, 68, 90, 1);
box-shadow: 0px -1px 18px 0px rgba(66, 68, 90, 1);
}
.description-div {
  height: 120px;
  overflow: auto;
}
.description-title {
  text-align: center;
}
.description-text {
  font-size: 15px;
}
.button-buy-div {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-buy-div {
  position: relative;
}
.button-buy {
  /* position: absolute; */
  /* bottom: 0; */
  margin-bottom: 25px;
  /* right: 44%; */
  padding: 10px;
}
