.row {
  justify-content: center;
  align-items: center;
}
.col-sm {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: auto;
  display: flex;
  justify-content: center;
}
.card-img-top {
  height: 200px;
}
.product-row {
  width: 70%;
  /* padding-left: 250px;
  padding-right: 250px; */
}
.result {
  display: flex;
  justify-content: center;
}
.side-bar {
  background-color: black;
}
.row-content {
  width: 100%;
}
