.change-information {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  /* text-align: center; */
}

.niewiem {
  border: none;
  border-bottom: 1px solid black;
}

.niewiem:focus {
  outline: none;
}

body {
  /* overflow: hidden; */
}
.error-banner {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.error-banner h3 {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
}
.przypominajka {
  width: 100%;
  height: 60px;
  transition: height 0.2s;
  background-color: orange;
  position: relative;
}
.przypominajka-text {
  display: none;
}
.przypominajka-text ul li {
  padding-left: 20px;
  padding-right: 20px;
}
.bolder {
  font-weight: bolder;
}
.przypominajka-title {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.show_przypominajka {
  height: 500px;
}
li {
  font-size: 0.7vw;
}
.show_przypominajka-text {
  display: block;
}
.buttons-next-back {
  /* transform: translate(-50%, -50%); */
  position: absolute;
  /* right: 250px; */
  left: 43%;
  bottom: 0;
  padding-bottom: 10px;
}
.clickable-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
}
.side-menu {
  width: 200px;
  transition: width 0.3s;
}
.change-image {
  display: flex;
  justify-content: left;
  width: 334px;
}
.image-change {
  position: relative;
  height: 200px;
  width: 200px;
  z-index: 0;
  border-radius: 100%;
}
.change-image-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.image-change-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.image-change-img:hover {
  /* background-color: black; */
  border: 2px dotted black;
}
.error-banner i {
  font-size: 30px;
  padding-right: 20px;
}
.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addres-book {
  display: none;
  z-index: -1;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.row {
  width: 100%;
}

.form-col {
  position: relative;
}

.fa-cart-plus {
  pointer-events: none;
}

.add-button {
  outline: none;
  display: flex;
}

.zmien-button {
  width: 100%;
  display: flex;
  padding: 0;
  /* justify-content: center; */
  /* text-align: center; */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.zmien-button1 {
  padding: 10px;
  border: none;
  background-color: orange;
  width: 20vw;
  margin: 10px;
}

.page-title {
  font-family: "Open Sans", sans-serif;
}

.nie:disabled {
  background-color: orange;
}

.tak:disabled {
  background-color: orange;
}
@media only screen and (max-width: 565px) {
  li {
    font-size: 15px;
  }
  .side-menu {
    width: 100%;
  }
}
label {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  /* text-align: center; */
  /* width: 100%; */
}

.col-sm- {
  z-index: 1;
  height: 89.8vh;
  background-color: rgb(56, 56, 56);
}

.siema2 {
  -webkit-animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.border-like {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 3px;
  width: 30px;
  transition: width 0.3s;
  background-color: orange;
}

.profile-siemanko {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.information-title {
  font-size: 25px;
  margin: 0;
}

.about-information {
  z-index: -1;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.information-text {
  font-size: 15px;
  width: max-content;
}

.information-state {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.information-contact {
  padding: 10px;
  width: 100%;
}

.siema {
  -webkit-animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.col-information {
  box-shadow: 0px 0px 36px -3px rgba(66, 68, 90, 1);
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  display: flex;
  transition: transform 0.2s, border-radius 0.1s;
}
.arrow-change {
  transition: all 0.3s;
}
.button-bottom-przypominajka {
  background-color: transparent;
  border: none;
  color: black;
}
.col-information:hover {
  border-radius: 10px;
  transform: scale(1.05);
}

@media only screen and (max-width: 565px) {
  .col-sm- {
    width: 100%;
    height: auto;
  }
}

.information-buttons {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.profile-look {
  text-align: center;
  font-size: 30px;
}

.col-sm- {
  /* width: 12%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*------- profile checker ---------*/
.account-data {
  height: 230px;
  background: url("https://pkconstruction.eu/wp-content/uploads/2019/12/wood-2045379_1920.jpg")
    no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-data {
  color: wheat;
}

.informations-about-user {
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-row {
  height: 89.8vh;
}

.niewiem {
  width: 20vw;
  padding: 7px;
  font-size: 15px;
}

.niewiem:focus {
  border-bottom: 1px solid orange;
}

/*1030*/
.profile-img {
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

@media only screen and (max-width: 1030px) {
  .dosdsao {
    display: none;
  }

  .niewiem {
    width: 400px;
  }

  .main-row {
    width: 100%;
    justify-content: center;
  }

  .col-sm-4 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .informations-about-user {
    text-align: center;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
