{% extends 'base.html' %}

{% block title %} Dodaj produkt {% endblock %}

{% block main %} 

{% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.image) }}
        {{ render_field(form.category) }}
        {{ render_field(form.price) }}
        {{ render_field(form.description) }}
        {{ render_field(form.quantity) }}
      </dl>
      <p><input type=submit value=Add>
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

{% endblock %}