{% extends 'base.html' %}

{% block title %} Kup produkt {% endblock %}

{% block extrahead %}
{% endblock %}

{% block main %} 

<div class="address">
<h3>Twoje dane</h3>
{{adr.street}}
{{adr.zip_code}}
<br>
{{adr.state}}
{{adr.city}}
{{adr.country}}
<br>
<a href="{{url_for('profile_update')}}">Zmień adres</a>
</div>


{% from "_formhelpers.html" import render_field %}
<form method="post" enctype="multipart/form-data">
    <dl>
        {{ render_field(form.kurier) }}
        {{ render_field(form.quantity) }}
    </dl>
    {{str(prd.price)[:str(prd.price).index('.')+3]}}zł
{{prd.name}}
{{prd.category}}
{{prd.description}}
{{prd.quantity}}
{{prd.user}}
<br>
<img src="{{url_for('static', filename='images/'+prd.image)}}" style="height: 200px">
    <p><input type=submit value=Kup>
    </form>
    
{% with messages = get_flashed_messages() %} {% if
    messages %}
    <ul class="flashes">
      {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

{% endblock %}