{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block extrahead %} 
<link
rel="stylesheet"
href="{{ url_for('static',filename='styles/dashboard.css') }}"
/>
{% endblock %}

{% block main %} 

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.image) }}
        {{ render_field(form.category) }}
        {{ render_field(form.price) }}
        {{ render_field(form.description) }}
        {{ render_field(form.quantity) }}
      </dl>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn confirm">Add Product <i class="fa-solid fa-plus"></i></button>
    </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="account-data" style="z-index: -1;">
  <div class="background-image back-img"></div>
  {% if current_user.is_authenticated %}
  <h1 class="username">Hi {{ current_user.username }}!</h1>
  <img
    class="profile-img"
    src="https://static.zakumaj.pl/data/store/2015/10/98d0a565-4d35-88fb-5557-3977dee48380/picture_large.jpg"
  />
</div>
<div class="containder-main">
<p class="text-i">Your products:</p>
{% if u == ['You dont have any products yet'] %}
<h3>You dont have any products yet :(</h3>
{% endif %}
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <p style="color: green">{{ message }}</p>
  {% endfor %}
</ul> 
{% endif %} {% endwith %}
{% if u != ['You dont have any products yet'] %}
<div class="row">
  {% for i in u %}
  <div class="col-sm">
    <div class="card">
      <img
      class="card-img-top"
      src="{{url_for('static', filename='images/'+i.image)}}"
        alt="{{i.name}}"
        style="height: 200px;"
        />
        <div class="card-body">
        <h5 class="card-title"style="color: white;">{{i.name}}</h5>
        <p class="text"style="color: white;">{{i.category_name}}</p>
        <p class="price" style="color: white;">{{i.price}}zł</p>
        <p class="card-text" style="color: white;">Opis Produktu</p>
        <div class="buttons-card">
        <a href="/update?product={{i.name}}" class="btn btn-primary"
        >Change Information</a
        >
        <a href="/delete?product={{i.uuid_id}}" id="delete" class="btn btn-primary"><i class="fa-solid fa-trash"></i></a>
      </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
  {% endif %}
</div>
</div>
</div>  
<div class="new-product" style="position: sticky; top: 70px; z-index: 999; width: fit-content;">
  <button class="add-button" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-cart-plus"></i></button>
</div>

{% endblock %}