{% extends 'base.html' %} {% block title %} Edytuj produkt {% endblock %} {%
block extrahead %}
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Raleway:wght@100&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/update_user.css')}}"
/>
{% endblock %} {% block main %} {% from "_formhelpers.html" import render_field
%}
<div class="change-information">
  <div class="row main-row">
    <div class="col-sm- side-menu">
      <button type="button" class="information-buttons tak">
        Informacje o mnie
      </button>
      <button type="button" class="information-buttons nie">
        Książka adresowa
      </button>
      <div class="przypominajka">
        <div class="clickable-button">
          Przypominajka <i class="fa-solid fa-chevron-down arrow-change"></i>
        </div>
        <div class="przypominajka-text">
          <div class="informacje-o-mnie-przypominajka">
            <h1 class="przypominajka-title">
              Zasady Kont na <span id="change-title">Informacje o mnie</span>
            </h1>
            <ul>
              <li>
                <span class="bolder">Imie</span> - Musi zawierac 2 litery ale
                nie wykraczac z 50
              </li>
              <li>
                <span class="bolder">Nazwisko</span> - Musi zawierac 2 litery
                ale nie wykraczac z 50
              </li>
              <li>
                <span class="bolder">Email</span> - Msu zawierac co najmiej 6
                liter, musi to byc normalny mail,
              </li>
              <li>
                <span class="bolder">Data Urodzenia</span> - Date musisz
                posiadac 18 lat
              </li>
              <li>
                <span class="bolder">Numer Telefonu</span> - Musi posiadac od 9
                do 12 cyferek, pierwsze 3 to maja byc kierunkowe numery (np:
                +48)
              </li>
            </ul>
          </div>
          <div class="ksiazka-addresowa-przypominajka">
            <h1 class="przypominajka-title">
              Zasady Kont na <span id="change-title">Książka adresowa</span>
            </h1>
            <ul>
              <li>
                <span class="bolder">Ulica</span> - Musi zawierac 5 litery ale
                nie wykraczac z 50 (Przykład: Władków 88)
              </li>
              <li>
                <span class="bolder">Miasto</span> - Musi zawierac 4 litery ale
                nie wykraczac z 50 (Przykład: Warszawa)
              </li>
              <li>
                <span class="bolder">Województwo</span> -Musi zawierac 4 litery
                ale nie wykraczac z 50 (Przykład: Mazowieckie)
              </li>
              <li>
                <span class="bolder">Kod Pocztowy</span> - Musi zawierac 4
                litery ale nie wykraczac z 50 (Przykład: 01-000)
              </li>
              <li>
                <span class="bolder">Kraj</span> - Musi zawierac 4 litery ale
                nie wykraczac z 50 (PrzykładL Polska)
              </li>
            </ul>
          </div>
          <div class="buttons-next-back">
            <button class="button-back button-bottom-przypominajka"><</button>
            |
            <button class="button-next button-bottom-przypominajka">></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="error"></div>
      <div class="row main-row">
        <div class="col-sm-4 form-col">
          <form id="form" method="post" enctype="multipart/form-data">
            <dl>
              <div class="about-information">
                <h1 class="page-title">Informacje o mnie</h1>
                <div class="first_name">
                  {{ render_field(form.first_name) }}
                </div>
                <div class="last_name">{{ render_field(form.last_name) }}</div>
                <div class="email">{{ render_field(form.email) }}</div>
                <div class="date_of_birth">
                  {{ render_field(form.date_of_birth) }}
                </div>
                <div class="phone_number">
                  {{ render_field(form.phone_number) }}
                </div>
                <h1 class="change-image-text">Zdjęcie Profilowe</h1>
                <div class="change-image">
                  <div class="image-change" id="image-change">
                    <img
                      class="image-change-img"
                      src="/static/images/{{current_user.get_image()}}  "
                      alt=""
                    />
                  </div>
                </div>
                <div class="image">{{ render_field(form.image) }}</div>
              </div>
              <div class="addres-book">
                <h1 class="page-title">Książka adresowa</h1>
                <div class="street">{{ render_field(form.street) }}</div>
                <div class="city">{{ render_field(form.city) }}</div>
                <div class="state">{{ render_field(form.state) }}</div>
                <div class="zip_code">{{ render_field(form.zip_code) }}</div>
                <div class="country">{{ render_field(form.country) }}</div>
              </div>
            </dl>
          </form>
          <div class="zmien-button">
            <button id="form-subbmit" class="zmien-button1">Zmień</button>
          </div>
        </div>
        <div class="col dosdsao">
          <div class="profile-siemanko">
            <h1 class="profile-look">Wygląd Profilu:</h1>
            <div class="account-data">
              <h1>Witaj {{ current_user.username }}!</h1>
              <img
                class="profile-img"
                src="/static/images/{{current_user.get_image()}}"
                alt=""
              />
              <!-- <h1 id="last_name-field"></h1>
            <h2 id="last_name-field"></h2>
            <h2 id="email-field"></h2>
            <h2 id="date_of_birth-field"></h2>
            <h3 id="phone_number-field"></h3>
            <h3 id="street-field"></h3>
            <h3 id="city-field"></h3>
            <h3 id="state-field"></h3>
            <h3 id="zip_code-field"></h3>
            <h3 id="country-field"></h3> -->
            </div>
            <div class="profile-items">
              <div class="informations-about-user">
                <div class="row information-row">
                  <div class="col 0-1 col-information">
                    <div class="information-state">
                      <h1 class="information-title">Książka adresowa</h1>
                      <div class="border-like br-0-1"></div>
                      <h2 class="information-text" id="state-field"></h2>
                      <h2 class="information-text" id="street-field"></h2>
                      <h2 class="information-text" id="city-field"></h2>
                      <h2 class="information-text" id="zip_code-field"></h2>
                    </div>
                  </div>
                  <div class="col 0-2 col-information">
                    <div class="information-contact">
                      <h1 class="information-title">Kontakt</h1>
                      <div class="border-like br-0-2"></div>
                      <h2 class="information-text" id="email-field"></h2>
                      <h2 class="information-text" id="phone_number-field"></h2>
                    </div>
                  </div>
                  <div class="col 0-3 col-information">
                    <div class="information-contact">
                      <h1 class="information-title">O mnie</h1>
                      <div class="border-like br-0-3"></div>
                      <h2 class="information-text" id="first_name-field"></h2>
                      <h2 class="information-text" id="last_name-field"></h2>
                      <h2
                        class="information-text"
                        id="date_of_birth-field"
                      ></h2>
                      <h2 class="information-text" id="country-field"></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
  <script>
    $(document).ready(function () {
      $("#first_name").val("{{profile.first_name}}");
      $("#last_name").val("{{profile.last_name}}");
      $("#email").val("{{profile.email}}");
      $("#date_of_birth").val("{{profile.date_of_birth}}".substring(0, 10));
      $("#phone_number").val("{{profile.phone_number}}");
      $("#street").val("{{profile.street}}");
      $("#city").val("{{profile.city}}");
      $("#state").val("{{profile.state}}");
      $("#zip_code").val("{{profile.zip_code}}");
      $("#country").val("{{profile.country}}");
    });
  </script>
  <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/profile-edit.js') }}"></script>

  {% endblock %}
</div>
