{% extends 'base.html' %} {% block title %} Wyszukiwanie frazy:
{{request.args['string']}} {% endblock %} {% block extrahead %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/search.css') }}"
/>
{% endblock %} {% block main %}
<div class="content">
    <div class="row row-content">
        <div class="col-sm- side-menu">
            <h1>Sortowanie</h1>
            <select name="" id="orderby">
            <option value="">po niczym</option>
            <option value="p">po cenie rosnaco</option>
            <option value="pd">po cenie malejaco</option>
            </select>
            <select name="" id="cat">
            <option value="">bez</option>
            <option value="1">splawik</option>
            <option value="2">wendka</option>
            <option value="3">przynenty</option>
            <option value="4">rzylki</option>
            <option value="5">akcesoria</option>
            </select>
        </div>
        <div class="col result-div">
        <div class="result"></div>
        <div class="buttons-next-back">
            <button id="back"><</button>
            <p>|</p>
            <button id="next">></button>
        </div>
        </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='scripts/search.js')}}"></script>
  {% endblock %}
</div>
