{% extends 'base.html' %}
{% block title %} Wyszukiwanie frazy: {{request.args['string']}} {% endblock %} 

{% block extrahead %}
<style>
    #back:disabled {
        border: 2px solid red;
    }
    #next:disabled {
        border: 2px solid red;
    }
</style>
{% endblock %} 

{% block main %}
<select name="" id="orderby">
<option value="">po niczym</option>
 <option value="p">po cenie rosnaco</option>
 <option value="pd">po cenie malejaco</option>
</select>
<button id="back"><</button>
<button id="next">></button>
<div class="result"></div>
<script src="{{url_for('static', filename='scripts/search.js')}}"></script>
{% endblock %}