<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sklep</title>
</head>
<body>
  <button><a href="/">Default page</a></button>
  {% for i in prd %}
  {% if i.name and i.category_name %}
  <a href="/profile/{{i.username}}?product={{i.name}}">{{i.name}}</a> - {{i.category_name}} - <a href="/profile/{{i.username}}">{{i.username}}</a>
  <br>
  {% else %}
  {{i}}
  {% endif %}
  {% endfor %}
  <br>
</body>
</html>