{% extends 'base.html' %}

{% block title %} Edytuj produkt {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/update.css')}}">
{% endblock %}

{% block main %} 

  {% if request.args['product']%}
  <h1 class="gigaprodukt">Produkt - ' {{prd.name}} '</h1>
  {% from "_formhelpers.html" import render_field %}
  <form method="post" enctype="multipart/form-data">
    <dl class="cialo">
      <div class="infoProdutk">
        <h2 class="produktTekst">Nazwa Produktu</h2>
        {{ render_field(form.name) }}
        <div class="selfie">
          <h2 class="produktTekst">Zdjęcie</h2>
          {{ render_field(form.image) }}
        </div>
        <h2 class="produktTekst">Kategoria</h2>
        {{ render_field(form.category) }}
        <h2 class="produktTekst">Cena</h2>
        {{ render_field(form.price) }}
        <h2 class="produktTekst">Opis</h2>
        {{ render_field(form.description) }}
        <h2 class="produktTekst">Ilość</h2>
        {{ render_field(form.quantity) }}
        <p><input type=submit value=Zaktualizuj class="udpatebutton4y645yyyyggggggggggggggggggg">
        </div>
    </dl>
  </form>
  {% endif %}

  <div class="img-preview"></div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<script>
$(document).ready(function(){
  let ff15 = $('input').parent()[2];
  ff15.innerHTML += `<img class="zdjencie" src="{{url_for('static', filename=image)}}"></img>`;
  $('#name').val('{{prd.name}}');
  $('#category').val($('#category').children()['{{prd.category}}'-1].innerHTML);
  $('#price').val('{{ str(prd.price)[:str(prd.price).index(".")+3] }}');
  $('#description').val(`{{prd.description}}`);
  $('#quantity').val('{{prd.quantity}}');


  $('.zdjencie').click(function() {
    $('#image').click();
  });

  
  $('#image').change(function() {
    var uploaded_images = '';
    // alert($('#image').val());
    const reader = new FileReader();
    reader.addEventListener('load', () => {
      uploaded_images = reader.result;
      $('.zdjencie').attr('src', uploaded_images)
    })
    reader.readAsDataURL(this.files[0]);
  })
});

</script>

{% endblock %}