{% extends 'base.html' %}

{% block title %} sklep - {{user}} {% endblock %}

{% block main %} 

<button><a href="/">Default page</a></button>
  {% if request.args['product']%}
  {{prd.name}}
  {{prd.description}}
  <form method="POST" action="/update?product={{prd.name}}">
    <input type="text" name="name" value="{{prd.name}}">
    <input type="text" name="description" value="{{prd.description}}">
    <input type="submit" value="Submit">
  </form>
  {% endif %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}